@media screen and (max-width:420px) {
    .tour-layout{
        width: 100%;
    }

}

@media screen and (min-width:421px) {
    .tour-layout{
        width: 420px;
        margin: 0 auto;
    }
}

.tour-layout{
    margin-top: 5dvh;
    height: 90dvh;
    background-color: white;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    
}